.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.memo-list {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
  margin: auto;
}

.memo-create {
  margin-left: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}
